.description__button-text {
    font-family: "HelveticaNeueCyr-Bold";
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    padding-bottom: 3px;
    color: #FFFFFF;
} 