.description__close {
    display: none;
    position: absolute;
    width: 14px;
    height: 14px;
    background-size: cover;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
@media all and (max-width: 460px) {
    .description__close {
        top: 60px
    }
}
@media all and (max-width: 360px) {
    .description__close {
        top: 45px
    }
}