.help__summa-input-style {
    width: 106px;
    height: 46px;
    cursor: pointer;
    border: 2px solid #FC691B;
    color: #FC691B;
    font-family: "HelveticaNeueCyr-Bold";
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media all and (max-width: 740px) {
    .help__summa-input-style {
        width: 96px;   
}
}
.help__summa-input-style:hover {
    background: #FC691B;
    color: #FFFFFF;
}
.help__summa-input:checked + .help__summa-input-style {
    background: #FC691B;
    color: #FFFFFF;
}