@import url("./__container/other-help__container.css");
.other-help__large-container {
    display: flex;
    justify-content: space-between;
    width: 596px;
}
@media all and (max-width: 1130px) {
    .other-help__large-container {
        width: 660px;
        margin-bottom: 40px;
    }
}
@media all and (max-width: 700px) {
    .other-help__large-container {
        width: 600px;
    }
}
@media all and (max-width: 640px) {
    .other-help__large-container {
        width: 276px;
        flex-direction: column;
        margin-bottom: 10px;
    }
}