.popup__title {
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-family: "HelveticaNeueCyr-Bold";
    color: #FC691B;
    margin-bottom: 40px;
}
@media all and (max-width: 740px) {
    .popup__title {
        width: 400px;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
}

@media all and (max-width: 520px) {
    .popup__title {
        width: 250px;
        font-size: 18px;
        line-height: 24px;
    }
}