@import url("./__container/popup__container.css");
.popup {
    position: fixed;
    display: none;
    align-items: center;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 1440px;
    background: rgba(147, 151, 203, 0.8);
    justify-content: center;
    z-index: 5;
}
