@import url("./__form-choice/help__form-choice.css");
@import url("./__form-summa/help__form-summa.css");
@import url("./__form-about/help__form-about.css");
@import url("./__container-button/help__container-button.css");
@import url("./__checkbox-block/help__checkbox-block.css");
@import url("./__description/help__description.css");
.help__form {
    width: 706px;
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
}
@media all and (max-width: 740px) {
    .help__form {
        width: 328px;
        align-items: center;
    }
}
@media all and (max-width: 320px) {
    .help__form {
        width: 310px;
        align-items: center;
    }
}