.help__description {
    font-family: "HelveticaNeueCyr-Roman";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #5A3F98;
    margin-bottom: 60px;
}
@media all and (max-width: 740px) {
    .help__description {
        width: 100%;
        margin-bottom: 30px;
    }
}
@media all and (max-width: 340px) {
    .help__description {
        width: 310px;
    }
}