.header__title {
    padding-top: 1px;
    padding-bottom: 4px;
    width: 215px;
    font-size: 18px;
    font-family: "HelveticaNeueCyr-Light";
    font-weight: 300;
    font-style:  normal;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: #333235;
    text-transform: uppercase;
}
@media all and (max-width: 560px) {
    .header__title {
      display: none;
    }
}