@import url("./__image/coach__image.css");
@import url("./__container/coach__container.css");
.coach__block {
    width: 86%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

@media all and (max-width: 1310px) {
    .coach__block {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
}
@media all and (max-width: 768px) {
    .coach__block {
        width: 500px;
    }
}
@media all and (max-width: 525px) {
    .coach__block {
        width: 360px;
        align-items: center;
    }
}