.gratitude__title {
    width: 704px;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-family: "HelveticaNeueCyr-Bold";
    color: #FC691B;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
}
@media all and (max-width: 950px) {
    .gratitude__title {
        width: 400px;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
}
@media all and (max-width: 570px) {
    .gratitude__title {
        width: 250px;
        font-size: 18px;
        line-height: 24px;
    }
}