.header__social-icon_name_fb {
    background-image: url("../../../../../../images/fb-fiolet.svg");
}
.header__social-icon_name_fb:hover {
    background-image: url("../../../../../../images/fb-orange.svg");
}
.header__social-icon_name_fb:active {
    background-image: url("../../../../../../images/fb-orange.svg");
}