.header__social-icon_name_twitter {
    background-image: url("../../../../../../images/twitter-fiolet.svg");
}
.header__social-icon_name_twitter:hover {
    background-image: url("../../../../../../images/twitter-orange.svg");
}
.header__social-icon_name_twitter:active {
    background-image: url("../../../../../../images/twitter-orange.svg");
}