@import url("./__header-container/description__header-container.css");
@import url("./__header-video/description__header-video.css");
.description__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
    align-items: center;
}
@media all and (max-width: 1190px) {
    .description__header {
        flex-direction: column;
    }
}
@media all and (max-width: 360px) {
    .description__header {
        margin-bottom: 100px;
        overflow: hidden; 
    }
}