.description__start {
    width: 15px;
    height: 18px;
    background-size: cover;
    margin-left: 19px;
    margin-right: 13px;
    background-image: url("../../../../../../../../../images/start.svg");
}