.help__choice-block {
    width: 40px;
    height: 3px;
    margin-top: 31px;
    background: #bec5c9;
}
@media all and (max-width: 740px) {
    .help__choice-block {
        width: 28px;
    }
}
@media all and (max-width: 340px) {
    .help__choice-block {
        width: 10px;
    }
}