@import url("./__summa-input/popup__summa-input.css");
@import url("./__summa-input-style/popup__summa-input-style.css");
@import url("./__summa-input-style/popup__summa-input-style_theme_right.css");
@import url("./__random-summa-block/popup__random-summa-block.css");
@import url("./__symbol-rubl/popup__symbol-rubl.css");
@import url("./__random-summa-input/popup__random-summa-input.css");
.popup__form-summa {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}
@media all and (max-width: 740px) {
    .popup__form-summa {
        width: 328px;
        justify-content: start;
        flex-wrap: wrap;
        margin-bottom: 32px;
    }
}
@media all and (max-width: 340px) {
    .popup__form-summa {
        width: 310px;
    }
}